/* Common Styles */

ul,
ol {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

a {
        text-decoration: none;
}

button {
        cursor: pointer;
        background: #4D5AE5;
}

button:hover,
button:focus {
        background: #404BBF;
}

body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin-top: 0;
        margin-bottom: 0;
}

img {
        display: block;
        max-width: 100%;
        height:auto;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.container {
        max-width: 1158px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
}

.section {
        padding-top: 60px;
        padding-bottom: 60px;
}

/* Header */

.page-header {
        border-bottom: 1px solid #E7E9FC;
}

.container-header {
        display: flex;
        width: 1128px;
        justify-content: space-between;
        align-items: center;
}

.main-nav {
        display: flex;
        align-items: center;
}

.logo{
        font-family: 'Raleway',sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}

.black-logo {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}

.menu {
        display: flex;
        column-gap: 40px;
}

.menu-link{
        display: flex;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus{
    color: #404BBF;
}

.contacts {
    font-style: normal;

}

.contacts-list {
        display: flex;
        column-gap: 40px;
}
        
.contacts-list-link,
.contacts-list-item{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: #434455;
}

.contacts-list-link:hover,
.contacts-list-link:focus{
    color: #404BBF;
}

/*Main*/
.page-main-title{
    background: #2E2F42;
    margin-top: 29px;
}

.main-title{
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 0.02em;
        width: 496px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 188px;
        padding-bottom: 292px;
        color: #FFF;
}

.button-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
        color: #FFF;
}

/*Values*/
.values {
        padding-top: 91px;
        padding-bottom: 60px;
}

.list-values {
        display: flex;
        column-gap: 24px;
}

.title-values-item {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.about-values-item {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: #434455;
}

/*Team*/
.team-foto{
        background: #F4F4FD;
}

.list-team {
        display: flex;
        column-gap: 24px;
}

.list-team-item {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        width: calc((100%-72)/4);
}

.list-team-img {
        margin-bottom: 32px;
}

.title-team{
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
        color: #2E2F42;
}

.title-foto-item {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.about-foto-item {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: #434455;
}

/*Portfolio*/
.portfolio {
    background-color: #FFFFFF;
}

.list-portfolio {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}

.list-porfolio-item {
        width: calc((100%-112)/6);
        border: 1px solid var(--CORNFLOWER, #E7E9FC);
}

.title-portfolio{
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
        color: #2E2F42;
}

.title-portfolio-item {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.list-portfolio-img {
        margin-bottom: 32px;
}

.about-portfolio-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #434455;
}

/*Footer*/
.page-footer {
        background: #2E2F42;
}

.footer-link {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-top: 100px;
        padding-bottom: 18px;
        padding-left:156px;
        color: #4d5ae5;
}

.white-logo {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

.about-footer {
        width:420px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        padding-bottom: 100px;
        padding-left:156px;
        color: #F4F4FD;
}
